.wy-nav-content {
    max-width: 100% !important;
}

.wy-side-nav-search {
    background-color: #d6d6d6;
}

.wy-side-nav-search input[type=text] {
    border-color: #050505;
}

.wy-nav-side {
    background: #0f0a0a
}

.wy-menu-vertical a {
    color: inherit;
}

.wy-menu-vertical a:hover {
    background-color: #5e3838;
}

.rst-versions {
    border-top: solid 10px #332f2f;
}

.rst-versions .rst-current-version {
    background-color: #252020;
}

a:hover {
    text-decoration: underline !important;
}